REACT_APP_GROQ_KEY_1=gsk_key1_here
REACT_APP_GROQ_KEY_2=gsk_key2_here
REACT_APP_GROQ_KEY_3=gsk_key3_here
REACT_APP_GROQ_KEY_4=gsk_key4_here
REACT_APP_GROQ_KEY_5=gsk_key5_here
REACT_APP_GROQ_KEY_6=gsk_key6_here
REACT_APP_GROQ_KEY_7=gsk_key7_here
.
.
.

REACT_APP_BACKEND_URL=http://127.0.0.1:8000